*{
margin: 0;padding: 0;
background-color: grey;
text-align: center;
}
/* NOTE : In flex-blox, we have to identify our flex container and flexitem */
/* some properties works on container while some on items */
.container{
width: 600px;
height: 600px;
border: 2px solid;
display: flex; /*flex direction(main-axis) is row by default*/
justify-content: center; /*wrt main axis*/
/* flex-wrap: wrap; container bcms multi line and new line added along cross axis */
align-items: flex-start; /*elements are aligned, wrt cross axis*/
align-content: center; /*content is aligned*/

}
div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid;
}
.box1{
  background-color: aqua;  
}
.box2{
background-color: pink;
height: 200px;
/* align-self: flex-end; */
flex-shrink: 2; /*shrionk 2 times as cmprd to other flex items*/
/* all flex items shrinks its width and hieght to adjust inside flexbox */
}
.box3{
background-color: darkkhaki;
height: 75px;
}
.box4{
background-color: indianred;
}
.box5{
background-color: slateblue;
}