   * {
       margin: 0;
       padding: 0;
       background-color: grey;
   }
   p{
    margin-top: 300px;
   }
   div{
    display: inline-block;
    border: 2px solid black;
    width: 100px;
    height: 100px;
   }
   .box1{
    background-color: red;
     /* position: static; -->by default --> top/bottom/left/right/z-index does not work */
     position: relative;
    z-index: 1;
    /*it comes over to those who have lower z-index,by default evry *postioned el has 0 z indez, so on overlapping, which elemnt is written first moves to top  */
    }
    .box2{
        background-color: blue;
     position: relative; /*el is relative to itself(document flow)*/ 
     top: 10px; /*shifts 10px from top relative to intial/static postion*/
     right: 10px; /*overlps with box1*/
     
    }
    .box3{
        background-color: green;
       position: absolute; /*el is rel to its clolest positioned(non-static) ansector, here body, **moves on scrolling*/
        /*when we make an elemnt absolute, it get removes from its oruginal position and can be positioned wrt to its closest positioned ansector*/  
       top: 50px; /*moves to wrt body*/
       left: 300px;
    }
    .box4{
        background-color: yellow;
        position: fixed; /*besomes relative to the browser, donotr moves on scrolling*/
        top: 0px;
        right: 100px;
    }
    /*Note : headers and footers are generally postioned fixed wrt top and bottom 0px, they always shows up at the top/bottom on scrolling the page  */    
    .box5{
        background-color: pink;
        position: sticky;
        top: 0px;
        left: 20px;
        /* sticks to its static postion  */
    }
